.App {
  padding: 40px;
  text-align: center;
  display: inline-block;
  justify-content: center;
}
body {
  margin: auto 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  grid-template-rows: 1fr;
  padding: 20px;
}
.tile-container {
  height: 100px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

button {
  color: white;
  background-color: #8c8d96;
  border-radius: 20px;
  border: none;
  padding: 10px;
}
